<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Deatals</title>
    <link rel="stylesheet" href="/assets/airplane_mode/css/shops.css">
    <link rel="stylesheet" href="/assets/airplane_mode/css/frappe_style.css">
</head>
<body>
    <div class="container">
        <div class="shop-details">
            <div class="section">
                <h2>Shop Information</h2>
                <div class="detail-row">
                    <label>Shop Name:</label>
                    <span>{{doc.name}}</span>
                </div>
                <div class="detail-row">
                    <label>Shop Number:</label>
                    <span>{{doc.shop_number}}</span>
                </div>
                <div class="detail-row">
                    <label>Area (sq ft):</label>
                    <span>{{doc.area_in_sq}}</span>
                </div>
                <div class="detail-row">
                    <label>Amount:</label>
                    <span>{{doc.amount}}</span>
                </div>
                <div class="detail-row">
                    <label>Status:</label>
                    <span>{{doc.status}}</span>
                </div>
                <div class="detail-row">
                    <label>Airport:</label>
                    <span>{{doc.airport}}</span>
                </div>
                <div class="detail-row">
                    <label>Tenant:</label>
                    <span>{{doc.tenant}}</span>
                </div>
            </div>
     
            <div class="section">
                <h2>Contract Information</h2>
                <div class="detail-row">
                    <label>Start Date:</label>
                    <span>{{doc.start_date}}</span>
                </div>
                <div class="detail-row">
                    <label>End Date:</label>
                    <span>{{doc.end_date}}</span>
                </div>
            </div>
            {% set cus_style = 'section' if doc.status == 'Available' else 'ection hide' %}
            <div class="{{cus_style}}">
                <div class="detail-row">
                    Note:<span>If you are interested in renting this shop, submit your <a href="http://localhost:8000/lead-form/new?airport_shop={{ doc.name }}" class="card-link">application</a> and we will connect shortly.</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<!--  
<style>
    </style> -->
 
