<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop List</title>
    <link rel="stylesheet" href="/assets/airplane_mode/css/list.css">
    <link rel="stylesheet" href="/assets/airplane_mode/css/frappe_style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <a href="{{ doc.route }}">
            <div class="card-body">
                <div class="section">
                    <div class="detail-row card-item">
                        <label>Name:</label>
                        <span>
                            {{ doc.name }}
                        </span>
                    </div>
                    <div class="detail-row card-item">
                        <label>Status:</label>
                        {% set color = 'status_g' if doc.status == 'Available' else 'status_r' %}
                        <span class="{{color}}">{{ doc.status }}</span>
                    </div>
                    <div class="detail-row card-item">
                        <label>Airport:</label>
                        <span>{{ doc.airport }}</span>
                    </div>
                    <div class="detail-row card-item">
                        <label>Tenant:</label>
                        <span>{{ doc.tenant }}</span>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    
</body>
</html>
 
